/* RESPONSIVE=================================================================================== */

@media (min-device-width: 360px) and (max-device-width: 1024px) {
  .main-wrapper {
    overflow: auto;
  }
  svg {
    width: 80px;
  }

  .section {
    width: 96%;
    padding: 0;
    margin: 20% 0;
    top: 50%;
    /* margin-bottom: 30%;/ */
  }
  .border-inside {
    background-color: rgba(144, 144, 144, 0.2);
    padding: 0.2rem 0.2rem;
    border-radius: 8%;
  }
  .border-section {
    height: 80vh;
  }
  

  .border-inside {
    background-color: rgba(144, 144, 144, 0.2);
    padding: 2px 5px;
    border-radius: 8%;
  }

  .section-paragraf {
    font-size: 0.9rem;
    padding: 10px;
  }
  .section-paragraf:nth-child(3) {
    margin-bottom: 45px;
  }
  /* contact */
  .contact {
    height: auto;
    margin-top: 12vh;
    padding-bottom: 15px;
  }
  /* .contact .m_circle, */
  .sup > div {
    margin: 20px 10px 0px 25px;
  }
  .contact {
    height: auto;
    width: 90%;
    padding: 0 20px;
  }

  /* about offer */
  .about .m_circle {
    margin-bottom: 0px;
  }
  .about_inner,
  .offer_inner {
    padding: 2% 2%;
  }
  .offer_inner {
    font-size: 1.05rem;
    align-content: start;
    height: initial;
  }
  .offer .grey {
    height: 80vh;
  }
  .offer ul li {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  .offer h3 {
    font-size: 1.5rem;
  }

  .about,
  .offer {
    margin-top: 30%;
    /* height: 100%; */
  }

  .navigation-button {
    text-decoration: none;
    color: rgba(80, 97, 130, 0.7);
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 1rem;
  }

  .slider_nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(220, 220, 220);
   height: auto;
  }
  .s_button {
    width: 70%;
    margin-bottom: 15px;
  }
  .slider-button a {
    font-size: 13px;
  }

  .slider-button {
    padding: 0.1rem 0.2rem;

    font-size: 1rem;
    font-weight: bold;
    color: rgb(67, 22, 77);
    font-family: 'Quicksand', sans-serif;
  }

  .border-right {
    border-right: 0;
  }
  .offer_three{background: rgb(249, 249, 249);
    background-image: url(../img/offer_three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

  .navigation-button {
    text-decoration: none;
    color: rgba(80, 97, 130, 0.7);
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 1rem;
  }
}
/* xlarge========================================================================== */

@media (min-device-width:1440px) {
  .contact {
    background-size: 30%, 60%;
    width: 35%;
  }
}
@media (min-device-width: 2350px) {
  .contact {
    background-size: 35%, 45%;
    width: 35%;
  }
  .offer ul li {
    font-size: 1.2em;
  }
  .section-paragraf {
    font-size: 1.2em;
  }
  .offer h3{
    font-size: 1.6em
  }

  .slider-button{
    font-size: 1em;
  }

  /* .border-section {
  border: 15px solid !important;
  border-image: url(../img/border.svg) !important;
  border-image-slice: 55 50 !important;
  width: 40vw;
  min-height: 40vh;
}

.slider-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.offer .m_circle{
  margin-bottom: 5rem;
}}  */
}
