@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
  -moz-transform-origin: unset !important;
  -webkit-transform-origin: unset !important;
  -o-transform-origin: unset !important;
  -ms-transform-origin: unset !important;
  transform-origin: unset !important;
  box-sizing: border-box;
}

.main-wrapper {
  /* overflow: hidden; */
  position: absolute;
  /* background-image: url(../img/background3.jpg); */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: 100%;
  margin: 0;
}

.grid_wrapper {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* prticles */
#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  font-size: 1.1em;
  overflow: hidden;
  /* z-index: -10; */
}

.particles-mask {
  background-image: url(../img/mask.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
canvas {
  display: block;
}

/* end prticles  */

.logotyp {
  color: rgba(80, 97, 130, 0.721);
  font-family: 'Megrim', cursive;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}
#logo_M {
  transition: 0.5s;
}
svg:hover {
  filter: drop-shadow(0 0 0.3rem rgb(61, 61, 61));
}

.heading-off {
  display: none;
}
.navigation-button {
  text-decoration: none;
  color: rgba(80, 97, 130, 0.7);
  font-family: 'Megrim', cursive;
  font-weight: bold;
}
.tip {
  cursor: pointer;
}

.navigation-button:hover {
  color: rgb(80, 97, 130);
}
.tip-up {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.tip-down {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.border {
  border: 7px solid !important;
  border-image: url(../img/border.svg) !important;
  border-image-slice: 55 50 !important;
}
.border-inside {
  background-color: rgba(117, 124, 150, 0.2);
  padding: 2px 5px;
  border-radius: 8%;
}

/* section */

.section {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(117, 124, 150, 0.9);
  padding: 5%;
  width: 65%;
  height: 65%;
  border-radius: 10px;
  content: ' ';
  font-size: 0.8rem;
}

.about::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.about::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.about::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(117, 124, 150);
}

.about_inner {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.section-paragraf span {
  color: rgba(243, 243, 243, 0.7);
  font-family: 'Megrim', cursive;
}

.icon {
  width: 100%;
  padding-bottom: 10px;
}

.icon i {
  color: rgb(70, 74, 88);
}

.contact {
  color: rgb(70, 74, 88);
}

.contact a {
  color: rgba(243, 243, 243, 0.843);
  text-decoration: none;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 100%;
  transition: 1s;
}

.close:hover {
  color: rgba(243, 243, 243, 0.843);
}
/* main grid container */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0em 0em;
  grid-template-areas:
    'about-grid . lorem-grid'
    '. logotyp-grid .'
    'lorem2-grid . contact-grid';
}
.logotyp-grid {
  grid-area: logotyp-grid;
}

.about-grid {
  grid-area: about-grid;
}
.lorem2-grid {
  grid-area: lorem2-grid;
}
.contact-grid {
  grid-area: contact-grid;
}
.lorem-grid {
  grid-area: lorem-grid;
}

/* .circle-animated {
  stroke: rgb(157, 166, 196);
  stroke-dasharray: 0;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
} */

@media only screen and (min-device-width: 320px) {
}

@media (min-device-width: 1920px) {
}
